doctype html
html 
    include components/head.pug
    body 
        header(class="chat_header")
            a(href="/matches/") 
                img(src="../public/images/arrow_left.svg", alt="Arrow left icon")
            img(src=recieverDoggo.profile_image_link, alt=`Profile picture of ${recieverDoggo.name}`)
            h3= recieverDoggo.name
        main(class="messages_container")
            ul(id="messages")
                each message, index in chatLog.messages
                    if message.sender_id == recieverDoggo._id && index == 0
                        li(class="recieved-message")
                            span= getDateString(message.date)
                            p= message.content
                    else if message.sender_id != recieverDoggo._id && index == 0
                        li(class="sent-message")
                            span= getDateString(message.date)
                            p= message.content
                    else if message.sender_id == recieverDoggo._id && compareDates(chatLog.messages[index - 1].date, message.date)
                        li(class="recieved-message new-message")
                            span= getDateString(message.date)
                            p= message.content
                    else if message.sender_id == recieverDoggo._id
                        li(class="recieved-message")
                            span= getDateString(message.date)
                            p= message.content
                    else if message.sender_id != recieverDoggo._id && compareDates(chatLog.messages[index - 1].date, message.date)
                        li(class="sent-message new-message")
                            span= getDateString(message.date)
                            p= message.content
                    else 
                        li(class="sent-message")
                            span= getDateString(message.date)
                            p= message.content
        footer(class="message_form_container")
            form(id="form")
                textarea(id="input" rows="1" placeholder="Type a message...")
                input(type="submit", value="Send")
        script.
            const chatId = !{JSON.stringify(chatId)}
            const senderId = !{JSON.stringify(senderId)};
            const recieverId = !{JSON.stringify(recieverDoggo._id)};
        script(src="/socket.io/socket.io.js")
        script(src="../public/js/chat.js") 