doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/liked.css
    body 
        include components/header.pug
        main 
            article 
                h3(class="section_header") MATCHED DOGGOS
                    span(class="liked_counter")=matchedDoggos.length
                ul
                    each doggo in matchedDoggos
                        li 
                            img(src=doggo.profile_image_link, alt=`Profile picture of ${doggo.name}`)
                            section 
                                h3= doggo.name
                                p= doggo.breed
                div
                    a(class="primary_button" href="/search/") Search more doggos
