doctype html
html 
    include components/head.pug
    style 
        include ../static/public/css/matches.css
    body 
        include components/header.pug
        main 
            article 
                if(matchedDoggos.length > 0)
                    h3(class="section_header") MATCHED DOGGOS
                        span(class="liked_counter")=matchedDoggos.length
                    ul
                        each doggo in matchedDoggos
                            li 
                                a(href=`/chat/${doggo._id}`) 
                                    img(src=doggo.profile_image_link, alt=`Profile picture of ${doggo.name}`)
                                    section 
                                        h3= doggo.name
                                        p= doggo.breed
                else
                    article(class="empty_state_article")
                        h2 No matched doggos :(
                        p No worries! Continue liking untill you find your first match!
                div
                    a(id="search_link" class="primary_button" href="/search/") Search more doggos
