doctype html
html 
    include components/head.pug
    body 
        include components/header.pug
        main 
            article(class="matches_container")
                h3 MATCHED DOGGOS
                    span(class="liked_counter")=matchedDoggos.length
                if(matchedDoggos.length > 0)
                        each doggo in matchedDoggos
                            li 
                                img(src=doggo.profile_image_link, alt=`Profile picture of ${doggo.name}`)
                                section 
                                    h3= doggo.name
                                    p= doggo.breed
                else
                    article(class="empty")
                        p No worries! Continue liking untill you find your first match!
                div(class="button_container")
                    a(class="primary_button" href="/search/") Search more doggos
