doctype html
html 
    include components/head.pug
    body 
        include components/header.pug
        main 
            article(class="details_container")
                div 
                    div(class="image_container")
                        img(src=`${doggo.image_link}`, alt=`A picture of ${doggo.name}`)
                    h2= `${doggo.name}, ${doggo.age}`    
                section 
                    h3= `ABOUT ${doggo.name.toUpperCase()}`
                    div
                        div 
                            p= location.name
                            p= location.distance
                        div 
                            p Breed 
                            p= doggo.breed
                        p(class="description")= doggo.description
                        ul 
                            each vibe in doggo.doggo_vibe
                                li= vibe
            include components/like.pug
